.arable-stats-container {
  display: inline-block;
  text-align: center;
}

.arable-stats-container .panel-heading {
  font-weight: bold;
}

.arable-stats-container .dev-syncing .panel-heading {
  background-color: #dff0d8;
  border-color: #dff0d8;
}

.arable-stats-container .dev-not-syncing .panel-heading {
  background-color: #fcf8e3;
  border-color: #fcf8e3;
}

.arable-stats-container .battery .panel-heading{
  background-color: #d9edf7;
  border-color: #d9edf7;
}

.arable-stats-container ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.arable-stats-container li{
  display: inline-block;
}

.arable-stats-container li + li {
  margin-left: 15%;
}

.stat-number{
  font-size: 35px;
}

.stat-label{
  font-size: 15px;
}
